body{
   background: #eff0f1 !important;
}

#navbar{
z-index: 6;
margin-left: 10px;


}
#navbar a{
    color:black;
    padding:20px 65px;
    background: burlywood;
    text-decoration: none;
  
}

#navbar a:hover {
  background-color:red;
  color: black;
}

.nn{
    margin:10px;
}

.sticky {
  position: fixed;
  top: 18px;
  width: 100%;
}

p{
    font-size: 15px;
    padding-top: 20px;
}
.myflex{
    display:flex;
      flex-direction: row;
}
.anu{
    text-align: center;
  
}
.as{
    height: 190px;
    width: 170px;
}
.as p{
    height:140px;
    width:130px;
    border:1px solid black;
    background: crimson;
}
input{
   
    height: 30px;
    width:100px;
    border-radius: 10%;
    background: chocolate;
}
.look{
    display: none;
    transition: display 4s;
}
#cl{
    display: none;
}
#btns{
    padding:00px 0px 0px 600px;
  
}
footer{
    height: 300px;
    width: 100%;
    margin-top:100px;
}
.oone{
     height: 300px;
    width: 100%;
}
.ttow{
     height: 300px;
    width: 100%;
    z-index: 5;
}
.sp{
    height:100px;
    width:250px;
    background: rgba(0.7, 0.7, 0.7, 0.5);
    border-radius: 10%;
    border-color:forestgreen;
    color:white;
}
#barrss{
    display :none;
}
@media screen and (max-width: 480px){

body{
   position:relative; 
   overflow-x: hidden;
}
#barrss{
display:inline-block;
position: absolute;
top:20px;
right:10px;
}
#navbar{
    display:none;
}
#navbar a{
 display: block; 
 width:100px; 
 position: static !important; 
}
#imgg{
    width:100%;
    display: block;
}
#txtt{
    width:100%;
    display: block;
}
.tt{
    margin-left: 15px;
}
.as{
    height: 300px;
    width:200px;
    margin: auto;
}
.as p{
    height:200px;
    width:150px;
}
.ttow{
    position: relative;
}
.sp{
 
 padding: 10px;
 position: absolute;
 top:-140px;
 left:100px;
}

}